@font-face{
	font-family: "Cabin";
    src: url("fonts/Cabin-Medium.woff2") format("woff2"),
        url("fonts/Cabin-Medium.woff") format("woff"),
        url("fonts/Cabin-Medium.ttf") format("truetype");
}
@font-face{
	font-family: "Ropa Sans";
    src: url("fonts/RopaSans-Regular.woff2") format("woff2"),
        url("fonts/RopaSans-Regular.woff") format("woff"),
        url("fonts/RopaSans-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "Montserrat Regular";
    src: url("fonts/Montserrat-Regular.woff2") format("woff2"),
        url("fonts/Montserrat-Regular.woff") format("woff"),
        url("fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "Montserrat Medium";
    src: url("fonts/Montserrat-Medium.woff2") format("woff2"),
        url("fonts/Montserrat-Medium.woff") format("woff"),
        url("fonts/Montserrat-Medium.ttf") format("truetype");
}
body{
    font-family: "Montserrat Regular";
}
.navbar{
	font-family: "Montserrat Medium";
	box-shadow: 0px 1px 3px hsl(204, 86%, 53%);
	margin-bottom: 1rem;
}
.navbar-brand{
	font-family: "Cabin";
	font-size: 2rem;
}
.content-container{
    min-height: calc(100vh - 5.25rem - 3.75rem - 2px);
}
.title{
    margin: 0 0.75rem;
}
.top-title{
    display: flex;
    justify-content: space-between;
}
.view-options{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin: 0 0.75rem;
    font-family: "Montserrat Medium";
}
.view-options__text{
    padding: 0 0.75rem;
}
.view-options__table{
    content: url('img/list-24px.svg');
    padding: 0 0.75rem;
    cursor: pointer;
    width: 24px;
    box-sizing: content-box;
}
.view-options__table:hover{
    content: url('img/list-24px_blue.svg');
}
.view-options__card{
    content: url('img/view_module-24px.svg');
    padding: 0 0.75rem;
    cursor: pointer;
    width: 24px;
    box-sizing: content-box;
}
.view-options__card:hover{
    content: url('img/view_module-24px_blue.svg');
}
.table-container{
    padding: 0.75rem;
}
.table{
    font-size: 0.75rem;
}
.table td, .table th, .table__form input, .table__form select{
    padding: 3px;
    height: 1.6rem;
    font-family: "Montserrat Regular";
    font-size: 0.75rem;
}
.table__form td{
    background-color:#2792da27;
}
.table__form input, .table__form .select{
    border: none;
    height: 1.5rem;
    font-family: "Montserrat Regular";
}
.id-input, .barcode-input, .qty-per-unit-input {
    width: 4rem;
}
.product-name-input, .unit-measure-input, .unit-price-input, .created-at-input, .modified-at-input{
    width: 6rem;
}
.delete:hover {
    background-color: #2793da;
}

.hidden{
    display: none;
}
.submit-input{
    display: none;
}
.submit-button {
    content: url('img/save-24px-white.svg');
    width: 24px;
    padding: 2px;
    background-color: rgba(10,10,10,.2);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
.submit-button:hover{
    background-color: #2793da;
}
.hide-button::after{
    content: 'Hide Form';
}
.add-product-button::after{
    content: 'Add Product';
}
.add-stock-button::after{
    content: 'Add Stock';
}
.add-store-button::after{
    content: 'Add Store';
}
.add-pos-button::after{
    content: 'Add POS';
}
.add-sale-button::after{
    content: 'Add Sale';
}
.edit-button{
    content: url('img/edit-24px-white.svg');
    width: 20px;
    padding: 2px;
    background-color: rgba(10,10,10,.2);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
.edit-button:hover{
    background-color: #2793da;
}
/*card style*/
.card-container{
    font-size: 0.75rem;
    padding: 0.75rem;
    flex-wrap: wrap;
}
.card{
    margin: 0;
}
.card-footer-item, .card-content, .card-header-title{
    padding: 0.5rem;
}
.columns{
    margin: 0;
}
.columns:last-child {
    margin-bottom: 0;
}
.content__data__column-1, .content__data__column-2{
    padding: 0;
}
.card-footer-item, .card-header{
    background-color: #f5f5f5;
}
.card-footer-item:hover{
    background-color: #2793da;
    color: white;
}
.content__data__column-2 input, .content__data__column-2 .select{
    padding: 3px;
    font-family: "Montserrat Regular";
    font-size: 0.75rem;
    border: 1px solid  #2793da;
    border-width: 0 0 1px;
    border-radius: 0;
    height: 1.5rem;
    width: 100%;
}
.content__data__column-1 div, .content__data__column-2 div{
    min-height: 1.7rem;
    line-height: 1.7rem;
}
.card__edit-button::after{
    content: 'Edit';
}
.card__save-button::after{
    content: 'Save';
}
.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    font-size: 0.75rem;
}
.error-message{
    color: orangered;
    font-size: 0.75rem;
    padding: 0 0.75rem;
}
.add-button-section{
    display: flex;
    justify-content: left;
    align-items: center;
}
